@let b = book();
@if(b){
  <div class="ui grid">
    <div class="four wide column">
      @if(b.images && b.images[0]){
        <img class="ui large image" [src]="b.images[0].url">
      }
    </div>
    <div class="twelve wide column">
      <h1 class="ui header">{{ b.title }}</h1>
      <h3 class="ui header">{{ b.subtitle }}</h3>
      <div class="ui divider"></div>
      <div class="ui grid">
        <div class="four wide column">
          <h4 class="ui header">Autoren</h4>
          @for (author of b.authors; track author; let l =$last) {
            <span>{{ author.firstName }} {{ author.lastName }}@if(!l){,}</span>
          }
        </div>
        <div class="four wide column">
          <h4 class="ui header">ISBN</h4>
          {{ b.isbn }}
        </div>
        <div class="four wide column">
          <h4 class="ui header">Erschienen</h4>
          {{ b.published }}
        </div>
        <div class="four wide column">
          <h4 class="ui header">Rating</h4>
          @if(b.rating){
            <div class="ui star rating">
              @for (r of getRating(b.rating); track r) {
                <i class="yellow star icon"></i>
              }
            </div>
          }
        </div>
      </div>
    </div>
    <div class="sixteen wide column">
      <h3 class="ui header">Beschreibung</h3>
      {{ b.description }}
    </div>
    <div class="sixteen wide column">
      <div class="ui small images">
        @for (thumbnail of b.images; track thumbnail) {
          <img [src]="thumbnail.url">
        }
      </div>
    </div>
  </div>
  <button [routerLink]="'/books'" class="ui red button">Zurück zur Buchliste</button>

  <h2>Testing the submenu</h2>
  <nav>
    <ul>
      <li><a [routerLink]="'/books/'+b.isbn+'/first'" routerLinkActive="active">First Component</a></li>
      <li><a [routerLink]="'/books/'+b.isbn+'/second'" routerLinkActive="active">Second Component</a></li>
    </ul>
    <router-outlet></router-outlet>
  </nav>
}
